/* vars */

$backgroundColor = #fff

$textColor = #7F655A
$titleColor = #E54000
$lineColor = #E54000

$titleColorLight = lighten($titleColor, 15%)
$titleColorDark = darken($titleColor, 15%)
  
$titleFont = 'Open Sans', Helvetica, Arial, sans-serif
$textFont = 'Open Sans', Helvetica, Arial, sans-serif

$linkColor     = #E54000
$linkColorOver = darken($linkColor, 15%)

$errorColor    = #b34e4d  
$warningColor  = #c09854
$noticeColor   = #3986ac
$successColor  = #458746

$media = '../'

/* jeet */

jeet.max-width = 960px

/* rupture scale */

rupture.scale = 0 400px 600px 800px 1050px
rupture.anti-overlap = -1px

/* add objects */

$use-debug      = false
$use-reset      = false
$use-font       = false
$use-breadcrumb = false
$use-form       = false
$use-flashes    = false
$use-gallery    = false
$use-helpers    = false
$use-hints      = false
$use-grid       = false
$use-media-box  = false
$use-modal      = false
$use-nav        = false
$use-print      = false
$use-pagination = false
$use-slider     = false
$use-table      = false
$use-tabs       = false