/*

breadcrumb
==========

jade:
-----

ol.breadcrumb
  li.breadcrumb__root: a(href="#") Home
  li: a(href="#") About
  li: a(href="#") The Board
  li: a(href="#") Directors

html:
-----

<ol class="breadcrumb">
  <li class="breadcrumb__root"><a href=#>Home</a></li>
  <li><a href=#>About</a></li>
  <li><a href=#>The Board</a></li>
  <li><a href=#>Directors</a></li>
</ol>

*/

if $use-breadcrumb
  .breadcrumb
    margin: 0
    list-style: none
    li
      display: inline
    &__root
      font-weight:bold

  .breadcrumb > li + li:before
    content:"\00BB" "\00A0"

  .breadcrumb--path > li + li:before
    content:"\002F" "\00A0"


  /*

  breadcrumb by data attribute
  ============================

  jade:
  -----

  ol.breadcrumb
    li(data-breadcrumb="|"): a(href="#") Home
    li(data-breadcrumb="|"): a(href="#") About
    li(data-breadcrumb="|"): a(href="#") The Board
    li(data-breadcrumb="|"): a(href="#") Directors
    
  html:
  -----

  <ol class="breadcrumb">
    <li><a href=#>Home</a></li>
    <li data-breadcrumb="|"><a href=#>About</a></li>
    <li data-breadcrumb="|"><a href=#>The Board</a></li>
    <li data-breadcrumb="|" class=current><a href=#>Directors</a></li>
  </ol>

  */

  .breadcrumb > li + li[data-breadcrumb]:before
    content:attr(data-breadcrumb) "\00A0"

