if $use-grid
  .grid
    center()
    &__col
      column(1)
    &__col-1-2
      column(1/2)
    &__col-1-4
      column(1/4)
    &__col-3-4
      column(3/4)
    &__col-1-3
      column(1/3)
    &__col-2-3
      column(2/3)
    +between(2,3)
      &__col--tablet
        column(1)
      &__col-1-2--tablet
        column(1/2)
      &__col-1-4--tablet
        column(1/4)
      &__col-3-4--tablet
        column(3/4)
      &__col-1-3--tablet
        column(1/3)
      &__col-2-3--tablet
        column(2/3)
      &__col-right--tablet
        margin-right: 0
        float: right
    +mobile()
      &__col--mobile
        column(1)
      &__col-1-2--mobile
        column(1/2)
      &__col-1-4--mobile
        column(1/4)
      &__col-3-4--mobile
        column(3/4)
      &__col-1-3--mobile
        column(1/3)
      &__col-2-3--mobile
        column(2/3)
      &__col-right--mobile
        margin-right: 0
        float: right
